body {
    background-color: #0A192F;
}

header{
    display: flex;
    width: 90%;
    margin: auto;
}

.mylogo{
    flex: auto;
}
.mylogo img {
    
    margin: 20px;
    width: 78px;
    height: 78px;
    left: 32px;
    top: 27px;
    border-radius: 45px;
    align-content: flex-start;
    flex: 1;
}

nav{
    flex: 1;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    font-family: Manrope;
    list-style: none;
    font-size: 36px;
    line-height: 49.18px;
    color: #e4e4e4;
}

a {
    text-decoration: none;
    color: #e4e4e4;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 80%;
    margin: auto;
    flex-wrap: wrap;
    
}
.introduction h1{
    font-family: Manrope;
    color: #e4e4e4;
    font-weight: semi-bold;
    width: 277px;
    height: 52px;
    font-size: 36px;
    flex-wrap: wrap;
}

.introduction p{
    font-family: Manrope;
    color: #e4e4e4;
    opacity: 60%;
    width: 642px;
    height: 85px;
    font-size: 36px;
    flex-wrap: wrap;
}
